/* Tipografías */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* font-family: "Comic Neue", cursive; */

* {
    margin: 0;
    padding: 0;
}

/* estilos generales */ 

body {
    font-family: "Comic Neue", cursive;
}
img {
    max-width: 100%;
}
.logo {
    width: 100px;
    margin-right: auto;
    border-radius: 20px;
}
/* estilo de header */
header, footer {
    display: flex;
    background-color: #C9799B;
    color: black;
}
header {
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;

}
header nav {
    width: 50%;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
 
/* ruta de especificidad */

header nav ul li {
    color: #4A4036;
    list-style-type: none;
    margin: 0px 5 px;    
}
header nav ul li a {
    text-decoration: none;
    color:#4A4036;  
    font-size: 1.3rem;
}
h1 {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
.cardsIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cardsIndex img {
    border-radius: 30px;
}
/* estilos de main */

main {
    background-color: #FFF5F8;
}
.boxmodel div {
    width: 200px;
    height: 200px;
}
.margin {
    margin: 15px;
}
.padding {
    padding: 30px;
}
.border {
    border: 5px hotpink solid;
    border-radius: 10px;
}
.padreFlex {
    display: flex;
    /* define la dirección de los elementos */
    flex-direction: row-reverse;
}
.flexItem {
    width: 100px;
    height: 100px;
    background-color: brown;
}
footer {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:25%;
    margin-top: 1rem;
}
footer ul li {
    list-style-type: none;
}
.buttonFooter {
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    width: 50%x;
}
form {
    display: flex;
    flex-direction: column;
}
