@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

footer {
    @extend %head-foot;
    @include flex(column, null, center, 1.5rem);
    padding: 1rem;

    ul {
    justify-content: space-evenly;
    width:25%;
    margin-top: 1rem;

    li {
    list-style-type: none;
        a {
            text-decoration: none;
            color:black;  
            font-size: 1rem;
            justify-content: space-between;
}
}
}

.buttonFooter {
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

form {
    @include flex(column, null, null, null);
    label {
         color: $colortextos;
         font-weight: bold;
    }
}
}

