@use "../utilities/mixin" as *;

@media (min-width: 768px) {

    header {
        flex-direction: row;
        padding: 15px 20px;
        nav {
            width: 100%;
                ul {
                    @include flex(row, space-between, center, 5px); 
                    a {
                        font-size: 0.95rem;
                        white-space: nowrap;
                    }
                }
        }
    }
    .cardsIndex {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .productos-servicios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "img1 img2"
        "img3 img4";
    }
    .tarjeta-quienes {
        max-width: 700px;
    }
    .faq {
        padding: 50px;
    }
    .formulario-contacto {
        padding: 50px;               
    }
    footer {
        @include flex(row, space-around, center, null);
        
    }
}
@media (min-width: 1024px) {

    header {
        padding: 20px 40px;

        nav {
        width: 80%;
            ul {
                gap: 15px;
            }
        }
}
    header nav ul li a {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .productos-servicios {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        "img1 img2 img3 img4";
    }
    .formulario-contacto {
        max-width: 650px;
    }
}


